@import './var';
body {
    min-width: 1200px;
}

.text-center {
    text-align: center;
}


.bread{
    padding: 8px 0 4px;
    border-bottom: 2px solid $primary;
    margin-bottom: 8px;
    .btn{
        cursor: pointer;
    }
}
